/docker-compose.override.yaml
/dev/
/storage/
/API/storage/
API/.env
scripts/app-platform.env
API/Private/
node_modules/
functions/**/.deployed
functions/**/__deployer__.zip
functions/**/package-lock.json
/Admin/dist
API/prisma/generated/
API/src/private/registry.ts
Admin/src/private/routes.generated.tsx
Private/*
!Private/README.md
API/.env
