[submodule "Libraries/rafiki-auth"]
	path = Libraries/rafiki-auth
	url = https://github.com/rafiki270/auth.git
[submodule "Libraries/feature-flags"]
	path = Libraries/feature-flags
	url = https://github.com/rafiki270/FeatureFlags.git
[submodule "Libraries/teams"]
	path = Libraries/teams
	url = https://github.com/rafiki270/teams.git
[submodule "Libraries/api-keys"]
	path = Libraries/api-keys
	url = https://github.com/rafiki270/api-keys.git
