{
	admin off
}

{$API_HOST:-api.local.einstore.pro}, http://{$API_HOST:-api.local.einstore.pro} {
	encode gzip
	reverse_proxy api:8100
	tls internal
}

{$ADMIN_HOST:-admin.local.einstore.pro}, http://{$ADMIN_HOST:-admin.local.einstore.pro} {
	encode gzip
	reverse_proxy admin:8101
	tls internal
}

{$WEB_HOST:-local.einstore.pro}, http://{$WEB_HOST:-local.einstore.pro} {
	encode gzip
	tls internal
	respond "Web service is not configured in the Docker stack." 503
}
